p{
    width:flex;
    height: flex;
    background-color: #70855d;
    border-radius: 20px;
    display: block;
    
}
#Chattext {
    display:block;
    width: 500px;
    height: 400px;
    background-color: #baf5ee;
    overflow:0;
    border-radius: 5px;
    margin:20px;
    border-color: blue;
    border:5px;
    border-style: solid;
}
#postQ{
    width:100px;
    height:45px;
    border-radius:0 ;
 
    background-image: url();
    background-repeat: 0;
    background-position: center;
    background-color:0;
    border-color: black;
    border-style:0 ;
    border: 2px;
}
#btn{
    width:100px;
    height:45px;
    border-radius: 5px;
 
    background-image: url("/img/icons8-email-send-30.png");
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgb(187, 175, 71);
    border-color: black;
    border-style: solid;
    border: 2px;
  
}
#askQ
{
    width:300px;
    height:50px;
    border-radius: 5px;
    border-color: black;
    border-style: solid;
    border: 2px;
}
#bigdiv{
    border-radius: 5px;
    border-style: ridge;
    border-color: rgb(158, 238, 79);
    width:550px;
    background-color: grey;
}
#chatinput{
    border-style: solid;
    border-radius:5px;
    border-color: black;
    background-color:grey;
    border: 2px;
}
h1{
    color:goldenrod;
}
